@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body,
  #root {
    margin: 0 auto;
    width: 375px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
